.row.mt-3
  .col-sm-7
    #hero-section
      Hero Section goes here
  .col-sm-5
    #sign-up-form
      Sign up with CareDash form
.row.mt-4
  .col-sm-12
    %h2.text-center Reasons to Sign Up as a Provider on CareDash
.row.mt-4
  .col-sm-4
    .reason-to-sign-up-card.text-center
      = image_tag ('logo.svg'), {:class => 'reasons-to-sign-up-img'}
      .reasons-to-sign-up-header
        Headline
      .reasons-to-sign-up-body.text-left
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ac placerat vestibulum lectus mauris. Tempor orci dapibus ultrices
        in. Quam quisque id diam vel quam elementum pulvinar etiam non.
        Aliquam faucibus purus in massa tempor nec.
      .text-left.mt-3
        .btn.learn-more-btn Learn More
  .col-sm-4
    .reason-to-sign-up-card.text-center
      = image_tag ('logo.svg'), {:class => 'reasons-to-sign-up-img'}
      .reasons-to-sign-up-header
        Headline
      .reasons-to-sign-up-body.text-left
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ac placerat vestibulum lectus mauris. Tempor orci dapibus ultrices
        in. Quam quisque id diam vel quam elementum pulvinar etiam non.
        Aliquam faucibus purus in massa tempor nec.
      .text-left.mt-3
        .btn.learn-more-btn Learn More
  .col-sm-4
    .reason-to-sign-up-card.text-center
      = image_tag ('logo.svg'), {:class => 'reasons-to-sign-up-img'}
      .reasons-to-sign-up-header
        Headline
      .reasons-to-sign-up-body.text-left
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ac placerat vestibulum lectus mauris. Tempor orci dapibus ultrices
        in. Quam quisque id diam vel quam elementum pulvinar etiam non.
        Aliquam faucibus purus in massa tempor nec.
      .text-left.mt-3
        .btn.learn-more-btn Learn More
