@media (min-width: 440px) {
  #hero-pic {
    margin: 0 0 0 -50px;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #hero-section {
    //height: 480px;
    padding-right: 1rem;
  }
  #hero-pic {
    margin: -40px 0 0 0;
    height: 500px;
  }
  #hero-overlay {
    top: 3rem;
    max-width: 300px;
    font-size: 1.8rem;
  }
  .hero-btn {
    margin: 0.2rem 0 0 0;
  }
  #sign-up-form {
    padding: 1rem 0;
  }
  .sign-up-form-header {
    font-size: 1.4rem;
    padding: 0 2.8rem;
  }
  .form-field {
    min-width: 200px;
  }
  .reason-to-sign-up-card {
    padding: 0.6rem 0.8rem;
    height: 430px;
  }
  .reasons-to-sign-up-img {
    width: 90px;
    height: 90px;
  }
  .reasons-to-sign-up-header {
    font-size: 1rem;
    margin: 0.4rem 0;
  }
  .reasons-to-sign-up-body {
    font-size: 0.8rem;
    height: 200px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #hero-section {
    max-height: 400px;
    padding-right: 1rem;
  }
  #hero-pic {
    margin: -20px 0 0 0;
    height: 630px;
  }
  #hero-overlay {
    top: 4rem;
    max-width: 350px;
    font-size: 2.4rem;
  }
  .reason-to-sign-up-card {
    padding: 1rem;
    height: 350px;
  }
  .reasons-to-sign-up-img {
    width: 100px;
    height: 100px;
  }
  .reasons-to-sign-up-header {
    font-size: 1rem;
    margin: 0.4rem 0;
  }
  .reasons-to-sign-up-body {
    font-size: 0.8rem;
    height: 120px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #sign-up-form {
    height: 550px;
    margin: 0;
    padding: 0.4rem 0;
  }
  .sign-up-form-header {
    font-size: 1.2rem;
    padding: 0 2.4rem;
  }
  .reason-to-sign-up-card {
    padding: 1rem 2.4rem;
    height: 390px;
  }
  .reasons-to-sign-up-img {
    width: 120px;
    height: 120px;
  }
  .reasons-to-sign-up-header {
    font-size: 1.2rem;
    margin: 0.6rem 0;
  }
  .reasons-to-sign-up-body {
    font-size: 0.9rem;
    height: 120px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #sign-up-form {
    height: 400px;
    padding: 1rem 0 2rem 0;
  }
  .sign-up-form-header {
    font-size: 1.4rem;
    padding: 0 2.8rem;
  }
  .form-group {
    text-align: center;
  }
  .form-header {
    display: inline-block;
    text-align: right !important;
    min-width: 130px;
  }
  .reason-to-sign-up-card {
    padding: 1rem 2.4rem;
    height: 440px;
  }
  .reasons-to-sign-up-img {
    width: 180px;
    height: 180px;
  }
  .reasons-to-sign-up-header {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
  .reasons-to-sign-up-body {
    font-size: 0.9rem;
    height: 100px;
  }
}
@media (min-width: 1600px) {
  #hero-section {
    max-height: 400px;
    padding-right: 1rem;
    max-width: 1200px;
  }
  #hero-pic {
    height: 750px;
    width: 1200px;
  }
}
