// home page styles live here
#hero-section {
  max-height: 300px;
  //padding-right: 1rem;
  border: 2px solid $darkblue;
  overflow: hidden;
}
#hero-pic {
  transition: ease filter 0.6s;
  //max-height: 400px;
  height: 400px;
}
#hero-overlay {
  position: absolute;
  display: block;
  top: 3rem;
  left: -30rem;
  color: $white;
  //background: yellow;
  max-width: 220px;
  font-size: 1.4rem;
  font-weight: 700;
  transition: ease left 1s;
}
.hero-btn {
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
}
#sign-up-form {
  //height: 500px;
  border: 2px solid $darkblue;
  margin: 1rem 0 0 0;
  padding: 0.4rem 0;
  background: darken($lightgray, 10%);
}
.sign-up-form-header {
  font-size: 1.1rem;
  padding: 0 1.2rem;
}
.form-group {
  width: 100%;
  text-align: center;
}
.form-header {
  display: block;
  text-align: center;
}
input {
  text-align: center;
}
.form-submit-btn {
  margin: 1rem 0.8rem;
}
.reason-to-sign-up-card {
  background-color: lighten($lightgray, 3%);
  padding: 1rem 2.4rem;
  height: 440px;

  &:hover {
    background-color: $lightgray;
  }
}
.reasons-to-sign-up-img {
  width: 180px;
  height: 180px;
  //background: yellow;
}
.reasons-to-sign-up-header {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 1rem 0;
}
.reasons-to-sign-up-body {
  font-size: 0.9rem;
}
