// home page styles live here
#hero-section {
  height: 500px;
  padding-right: 1rem;
  background: dodgerblue;
}
#sign-up-form {
  height: 500px;
  background: slateblue;
  padding: 1rem;
}
.sign-up-form-header {
  font-size: 1.4rem;
  padding: 0 2.8rem;
}
.form-group {
  width: 100%;
  text-align: center;
}
.form-header {
  display: inline-block;
  background-color: yellow;
  min-width: 150px;
  text-align: right !important;
}
.form-field {
  min-width: 220px;
}
.form-submit-btn {
  margin: 0 0.8rem;
  padding: 0.4rem 0.8rem;
}
.reason-to-sign-up-card {
  background-color: tomato;
  padding: 0 2.4rem;
}
.reasons-to-sign-up-img {
  width: 180px;
  height: 180px;
  background: yellow;
}
.reasons-to-sign-up-header {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 1rem 0;
}
.reasons-to-sign-up-body {
  font-size: 0.9rem;
}
.learn-more-btn {
  border: 2px solid black;
  padding: 0.4rem 1rem;
}
