#footer.mt-5
  .row
    .col-sm-4.text-right
      .quick-links-section
        .footer-header
          CareDash
        %a.footer-quick-link{ :href => '#'} Home
        %br/
        %a.footer-quick-link{ :href => '#'} About
        %br/
        %a.footer-quick-link{ :href => '#'} Contact
        %br/
        %a.footer-quick-link{ :href => '#'} Write a Review
      .quick-links-section
        .footer-header
          Specialists
        %a.footer-quick-link{ :href => '#'} Primary Care Physicians
        %br/
        %a.footer-quick-link{ :href => '#'} Pediatricians
        %br/
        %a.footer-quick-link{ :href => '#'} Optometrists
        %br/
        %a.footer-quick-link{ :href => '#'} Dentists
    .col-sm-4.text-center
      .footer-header
        Follow Us
        %br/
      %a.i.fa.fa-facebook{ :href => '#'}
      %a.i.fa.fa-twitter{ :href => '#'}
      %a.i.fa.fa-instagram{ :href => '#'}
      %a.i.fa.fa-github{ :href => '#'}
  .row.text-center
    .col-sm-12.copyright Copyright 2017 CareDash &copy;
